.footer__finish {
	align-items: flex-start;
	display: flex;
	padding-top: 56px;
	justify-content: space-around;
}

.finish >img {
	margin-top: 75px;
}
@media (max-width: 770px){
.finish >img {
	max-width: 132px;
	}
}

@media (max-width: 485px){
.footer__finish >img {
	max-width: 100px;
	margin-top: 32px;
	}
}


