.header__logo {
	position: absolute;
	width: auto;
	max-height: 30px;
	left: -60px;
	top: 23px;
	z-index: 3;
}
@media (max-width: 1279px){
	.header__logo {
		left: -14px;
	}
}
@media (max-width: 600px){
	.header__logo {
		left: 2px;
	}
}
@media (max-width: 485px){
	.header__logo {
		top: 25px;
	}
}

@media (max-width: 1500px){
	.header__logo>img {
		max-height: 20px;
	}
}


@media (max-width: 485px){
	.header__logo>img {
		max-height: 14px;
	}
}