.header__link {
    color: #fff;
   text-decoration: none;
   font-weight: normal;
   letter-spacing: 1px;
   margin-left: 40px;
   margin-bottom: 10px;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   top: 0;
   text-transform: uppercase;
   z-index: 11;
}

.header__link::after {
    content: "";
    width: 10%;
    height: 3px;
    background: #F39555;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    transition-duration: 0.3s;
    opacity: 0;
}

.header__link:hover::after {
    width: 100%;
    opacity: 1;
}

.header__link:first-of-type {
    left: 180px;
}

@media screen and (max-width: 600px){
	.header__link {
		font-size:18px;
	}
	.header__link:first-of-type {
		left: 50px;
	}
}

@media screen and (max-width: 1500px){
	.header__link {
		font-size:12px;
	}
	.header__link:first-of-type {
		left: 109px;
	}
}

@media screen and (max-width: 1281px){
	.header__link {
		margin-left: 39px;
	}
}


